{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "browser": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
       "no-unused-vars": "error",
       "camelcase": "warn",
       "prefer-const": "warn",
       "quotes": [1, "single"],
       "spaced-comment": "warn",
       "semi": "error",
       "space-infix-ops":"warn"
       

    }
}