
    body{
        margin: 0;
    }
    header{
        height: 70px;
        background-color:black;
        position: sticky;
        top: 0;
        padding: 0 20px;
        color: white;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        box-shadow: 2px 5px 5px burlywood;
    }
    .logo{
        font-size: 1.4em;
    }
    nav{
        margin-left: auto;
    }
    nav>a{
        color: white;
        margin-left: 10px;
        text-decoration: none;
    }

